[theme="dark"] {

  .stroked {
    background-color: var(--bg100) !important;
    color: var(--black-white) !important;
    border-color: var(--border) !important;
  }

  .stroked-fill {

    background-color: rgba(157, 125, 249, 0.15) !important;
    color: var(--primary-01) !important;
  }

  button:disabled,
  button[disabled] {

    background-color: var(--toggle) !important;
  }

  .cdk-overlay-pane:has(.custom-ckd-container) {
    background-color: var(--bg100) !important;
  }

  .mat-mdc-form-field {

    background-color: var(--bg100) !important;
  }

  .mat-calendar-body-in-range::before {
    background-color: var(--toggle) !important;
  }

  .mat-calendar-body-selected {

    background-color: var(--primary) !important;
    color: #fff !important;
  }

  .mat-calendar-arrow,
  .mat-calendar-period-button,
  .mat-calendar-next-button .mat-icon,
  .mat-calendar-previous-button .mat-icon {
    color: var(--black-white) !important;
  }

  .radio-wrapper__text > :nth-child(2) {
    color: var(--label) !important;
  }

  .item-not-found__title p {
    color: var(--black-white) !important;
  }

  .item-not-found__subtitle p {
    color: var(--label) !important;
  }

  .button-group a.inactive {
    background-color: var(--toggle) !important;

    input[type="text"] {
      color: var(--black-white) !important;
    }
  }

  .nav-chapter__header:hover {
    background: var(--toggle) !important;
  }

  .nav-chapter__title {
    color: var(--black-white) !important;
  }

  .nav-chapter__arrow {
    color: var(--label) !important;
  }

  .nav-chapter__item {
    color: var(--black-white) !important;

    &:hover {
      background: var(--toggle) !important;
    }
  }

  .nav-chapter__header--active .nav-chapter__title {
    color: #7B2CBF !important;
  }

  .nav-chapter__item--active {
    color: #7B2CBF !important;
  }

  .otp-container__otp-time-value {
    color: var(--black-white) !important;
  }
}
