
.mat-mdc-dialog-surface {
    border-radius: 24px;
    transform: none;
    border: none;
    background-color: var(--bg) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 24px 24px 0px 0px;
}