// .light-theme {
@import "./buttons";
@import "./form";
@import "./checkbox";
@import "./radio";
@import "./input";
@import "./date-picker";
@import "./snackbar";
@import "./custom-select";
@import "./slide-toggle";
@import "./dialog";



.topbar {
  background-color: $white;
}

// }

.mat-badge-warn {
  --mat-badge-background-color: $error;
  --mat-badge-text-color: $white;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  border-radius: 12px !important;
}

.topbar__dropdown-panel {
  .mat-mdc-menu-item,
  .mat-mdc-menu-item .mat-mdc-menu-item-text,
  .mat-mdc-menu-item .mdc-list-item__primary-text {
    font-family: $font-medium !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: $black !important;
    letter-spacing: normal !important;
  }

  .mat-mdc-menu-item:hover .mat-mdc-menu-item-text,
  .mat-mdc-menu-item:hover .mdc-list-item__primary-text {
    color: $primary !important;
  }

  .topbar__dropdown-item--active .mat-mdc-menu-item-text,
  .topbar__dropdown-item--active .mdc-list-item__primary-text {
    color: $primary !important;
    font-weight: 700 !important;
  }
}



.mat-mdc-icon-button .mat-mdc-button-persistent-ripple {
  visibility: hidden;
}



