.mat-mdc-radio-button.mat-accent {
  --mat-radio-selected-pressed-icon-color: var(--primary) !important;
  --mat-radio-selected-focus-icon-color: var(--primary) !important;
  --mat-radio-selected-hover-icon-color: var(--primary) !important;
  --mat-radio-selected-icon-color: var(--primary) !important;
  --mat-radio-selected-pressed-icon-color: var(--primary) !important;
  --mat-radio-checked-ripple-color: var(--primary) !important;
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mdc-radio__background::before {
  background-color: transparent !important;
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element {
  background-color: transparent !important;
}

.mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
  transform: scale(0.6) !important;
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
  border-color: var(--gray-02) !important
}

.mdc-radio__background:not(:checked) {
  background: transparent;
  border-radius: 50%;
}

.mat-mdc-radio-group {
  // display: flex;

  .mdc-label {
    font-family: var(--font-barlow-regular);
    font-size: 14px;
    color: #5a6a85;
  }
}

.mdc-radio {
  padding-left: 0 !important;
}