@use "variables" as *;
@use "mixins" as *;

.course-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 24px;

  &__title {
    @include font(20px, 700, $gray700, $font-bold);
    text-transform: capitalize;
    margin-bottom: 12px;
  }

  &__placeholder {
    @include font(14px, 400, $gray13, $font-default);
  }
}
