.login-form {

    &__fields,
    &__inputs {
        display: grid;
        gap: 16px;
    }

    &__fields {
        width: 30%;
        margin: 0 auto;
        margin-top: 60px;

    }

}

@media (max-width: 768px) {
    .login-form__fields {
        width: 90%;
        margin-top: 32px;
    }
}