[theme="dark"] {
  --primary: #6366F1;
  --close: url("/assets/icons-dark/_close.svg");
  --reload: url("/assets/icons-dark/_reload.svg");
  --picker: url("/assets/icons-dark/_picker.svg");
  --edit: url("/assets/icons-dark/_edit.svg");
  --delete: url("/assets/icons-dark/_delete.svg");
  --picker-arrow-left-inactive: url("/assets/icons-dark/_picker-arrow-left-inactive.svg");
  --picker-arrow-left: url("/assets/icons-dark/_picker-arrow-left.svg");
  --picker-arrow-right-inactive: url("/assets/icons-dark/_picker-arrow-right-inactive.svg");
  --picker-arrow-right: url("/assets/icons-dark/_picker-arrow-right.svg");
  --picker-arrow-left-w: url("/assets/icons-dark/_picker-arrow-left-w.svg");
  --picker-arrow-right-w: url("/assets/icons-dark/_picker-arrow-right-w.svg");
  --arrow-right: url("/assets/icons-dark/_arrow-right.svg");
  --arrow-left: url("/assets/icons-dark/_arrow-left.svg");
  --add: url("/assets/icons-dark/_add.svg");
  --tool-tip: url("/assets/icons-dark/_tool-tip.svg");
  --back: url("/assets/icons-dark/_back.svg");
  --empty-user: url("/assets/icons-dark/_empty-user.svg");
  --list: url("/assets/icons-dark/_list.svg");
  --card: url("/assets/icons-dark/_card.svg");
  --info: url("/assets/icons-dark/_info.svg");
  --documents: url("/assets/icons-dark/_documents.svg");
  --confirm: url("/assets/icons-dark/confirm.svg");
  --nav: url("/assets/icons-dark/_nav.svg");
  --bg: #0F1015;
  --bg100: #171923;
  --black-white: #FFFFFF;
  --black-white-1: #000000;
  --border: #262838;
  --sub-text: #A0A3B1;
  --gray-bg: #171923;
  --bg200: #1B1D28;
  --bg300: #171923;
  --dash: #262838;
  --label: #CCCCCC;
  --primary-01: #9499FB;
  --gray-01: #B3B3B3;
  --toggle: #1B1D28;
  --input-check: #262838;
  --gray-02: #E1E4E5;
  --gray-03: #CCCCCC;
  --gray-04: #4D4D4D;
  --gray-05: #5B5B5D;

}