<ng-container *transloco="let t">
    <div class="wrapper">
      <div class="auth-fields" >
          <div class="login-form">

            <button type="button" class="login-form__close" (click)="onClose()" [attr.aria-label]="t('Close')">
              <img src="assets/icons/_close.svg" width="24" height="24" alt="Close" aria-hidden="true">
            </button>

            <h4 class="login-form__title caps-uppercase">
              {{ t('Authorization') }}
            </h4>

            <ng-container
              [ngTemplateOutlet]="authActionType === 'initLogin' ? initLogin :
                                  authActionType === 'forgotPass' ? forgotPass :
                                  null">
                                  <!-- authActionType === 'smsAuth' ? smsAuth : -->
            </ng-container>

            <ng-template #initLogin>
              <form class="login-form__fields" [formGroup]="initForm" (ngSubmit)="onLogin()">
                <div class="login-form__inputs">
                  <div class="input-wrapper">
                    <app-input formControlName="username" [placeholder]="t('Username')"
                      class="input">
                    </app-input>
                    <mat-hint class="error-msg" *validationErrors="
                        initForm;
                        control: 'username';
                        let err;
                        additionalValue: {
                          submit:
                            initForm.controls['username'] &&
                            initForm.controls['username'].dirty,
                          patternTypes: 'none'
                        }
                      ">
                      {{ t('Error_required') }}
                    </mat-hint>
                  </div>

                  <div class="input-wrapper">
                    <!-- [iconType]="'eye'" -->
                    <app-input
                     formControlName="password"
                     [placeholder]="t('Password')"
                     [type]="'password'"
                     class="input">
                    </app-input>

                    <mat-hint class="error-msg" *validationErrors="
                        initForm;
                        control: 'password';
                        let err;
                        additionalValue: {
                          submit:
                            initForm.controls['password'] &&
                            initForm.controls['password'].dirty,
                          patternTypes: 'none'
                        }
                      ">
                      {{ t('Error_required') }}
                    </mat-hint>
                  </div>

                      <!-- <app-otp (confirmOtpEmit)="onOtpConfirmed($event)"
                               [clientNumber]="clientNumber">
                      </app-otp> -->
                </div>

                <div class="login-form__links">
                  <button type="button" class="login-form__link" (click)="onForgotPassword()">
                    <img src="assets/images/svgs/_lock.svg" width="16" height="16" alt="" aria-hidden="true">
                    {{ t('Forgot_Password') }}
                  </button>
                  <button type="button" class="login-form__link" (click)="onSmsAuth()">
                    <img src="assets/images/svgs/_lock.svg" width="16" height="16" alt="" aria-hidden="true">
                    {{ t('SMS_Authorization') }}
                  </button>
                </div>

                <p class="login-form__register">
                  {{ t('No_Account_Question') }}
                  <button type="button" class="login-form__register-link" (click)="onRegister()">{{ t('Sign_Up') }}</button>
                </p>

                <div class="login-form__actions">
                  <app-button
                    [text]="t('LogIn')"
                    [type]="'submit'"
                    [isLoading]="loadingState()">
                    </app-button>
                </div>
              </form>
            </ng-template>

            <!-- <ng-template #smsAuth>
              <form class="login-form__fields" [formGroup]="smsAuthForm" (ngSubmit)="onSmsAuthSubmit()">
                <div class="login-form__inputs">
                  <div class="input-wrapper">
                    <app-input formControlName="personalNumber" [placeholder]="t('Personal_number')"
                      class="input">
                    </app-input>
                    <mat-hint class="error-msg" *validationErrors="
                        smsAuthForm;
                        control: 'personalNumber';
                        let err;
                        additionalValue: {
                          submit:
                            smsAuthForm.controls['personalNumber'] &&
                            smsAuthForm.controls['personalNumber'].dirty,
                          patternTypes: 'none'
                        }
                      ">
                      {{ t('Error_required') }}
                    </mat-hint>
                  </div>
                </div>

                <div class="login-form__actions">
                  <app-button
                    [text]="t('Next')"
                    [type]="'submit'"
                    [isLoading]="loadingState()">
                    </app-button>
                                    <app-button class="login-form__back-btn" [type]="'button'" className="stroked" [text]="t('Go_back')"
                                      (btnClick)="onBackToLogin()">
                                    </app-button>
                </div>


              </form>
            </ng-template> -->

            <ng-template #forgotPass>
              <form class="login-form__fields" [formGroup]="forgotPassForm" (ngSubmit)="onForgotPassSubmit()">
                <div class="login-form__inputs">
                  <div class="input-wrapper">
                    <app-input formControlName="personalNumber" [placeholder]="t('Personal_number')"
                      class="input">
                    </app-input>
                    <mat-hint class="error-msg" *validationErrors="
                        forgotPassForm;
                        control: 'personalNumber';
                        let err;
                        additionalValue: {
                          submit:
                            forgotPassForm.controls['personalNumber'] &&
                            forgotPassForm.controls['personalNumber'].dirty,
                          patternTypes: 'none'
                        }
                      ">
                      {{ t('Error_required') }}
                    </mat-hint>

                    @if (forgotPassInitState() && !otpConfirmed()) {
                      <app-otp (confirmOtpEmit)="onOtpConfirmed($event)"
                               [clientNumber]="clientNumber">
                      </app-otp>
                    }

                    @if (otpConfirmed()) {
                      <div class="login-form__fields-newpass">

                      <app-input formControlName="newPassword" [placeholder]="t('New_Password')" [type]="'password'" class="input">
                      </app-input>
                      <mat-hint class="error-msg" *validationErrors="
                          forgotPassForm;
                          control: 'newPassword';
                          let err;
                          additionalValue: {
                            submit:
                              forgotPassForm.controls['newPassword'] &&
                              forgotPassForm.controls['newPassword'].dirty,
                            patternTypes: 'none'
                          }
                        ">
                        {{ t('Error_required') }}
                      </mat-hint>

                      <app-input formControlName="confirmNewPassword" [placeholder]="t('Repeat_New_Password')" [type]="'password'" class="input">
                      </app-input>
                      <mat-hint class="error-msg" *validationErrors="
                          forgotPassForm;
                          control: 'confirmNewPassword';
                          let err;
                          additionalValue: {
                            submit:
                              forgotPassForm.controls['confirmNewPassword'] &&
                              forgotPassForm.controls['confirmNewPassword'].dirty,
                            patternTypes: 'none'
                          }
                        ">
                        {{ t('Error_required') }}
                      </mat-hint>

                      </div>
                    }

                  </div>
                </div>

                <div class="login-form__actions">
                  <app-button
                    [text]="t('Send')"
                    [type]="'submit'"
                    [isLoading]="loadingState() || checkingUser()">
                    </app-button>
                </div>

                <app-button
                  [type]="'button'"
                  className="stroked"
                  [text]="t('Go_back')"
                  (btnClick)="onBackToLogin()">
                </app-button>
              </form>
            </ng-template>

          </div>
      </div>
    </div>
</ng-container>