<ng-container *transloco="let t">
    <div class="wrapper">
      <!-- <div class="auth-brand">
        <img src="./assets/images/logos/logo-geo.svg" alt="Aldagi Logo" width="120" height="100" />
      </div> -->

      <div class="auth-fields" >
          <div class="login-form">
            <h4 class="login-form__title caps-uppercase">
              {{ 'ავტორიზაცია' }}
            </h4>

            <form class="login-form__fields" [formGroup]="initForm" (ngSubmit)="onLogin()">
              <div class="login-form__inputs">
                <div class="input-wrapper">
                  <app-input formControlName="username" [placeholder]="'მომხმარებელი'"
                    class="input">
                  </app-input>
                  <mat-hint class="error-msg" *validationErrors="
                      initForm;
                      control: 'username';
                      let err;
                      additionalValue: {
                        submit:
                          initForm.controls['username'] &&
                          initForm.controls['username'].dirty,
                        patternTypes: 'none'
                      }
                    ">
                    {{ 'ველი სავალდებულოა' }}
                  </mat-hint>
                </div>

                <div class="input-wrapper">
                  <!-- [iconType]="'eye'" -->
                  <app-input 
                   formControlName="password" 
                   [placeholder]="'პაროლი'" 
                   [type]="'password'"
                   class="input">
                  </app-input>

                  <mat-hint class="error-msg" *validationErrors="
                      initForm;
                      control: 'password';
                      let err;
                      additionalValue: {
                        submit:
                          initForm.controls['password'] &&
                          initForm.controls['password'].dirty,
                        patternTypes: 'none'
                      }
                    ">
                    {{ 'ველი სავალდებულოა' }}
                  </mat-hint>
                </div>
              </div>

              <div class="login-form__actions">
                <app-button 
                  [text]="'შესვლა'"
                  [type]="'submit'"
                  [isLoading]="loadingState()"
                  >
                  </app-button>
              </div>
            </form>

          </div>
      </div>
    </div>
</ng-container>