<ng-container *transloco="let t">
    <div class="wrapper">
      <div class="auth-fields" >
          <div class="login-form">

            <button type="button" class="login-form__close" (click)="onClose()" aria-label="დახურვა">&#10005;</button>

            <h4 class="login-form__title caps-uppercase">
              {{ t('Authorization') }}
            </h4>

            <ng-container
              [ngTemplateOutlet]="authActionType === 'initLogin' ? initLogin :
                                  authActionType === 'smsAuth' ? smsAuth :
                                  null">
            </ng-container>

            <ng-template #initLogin>
              <form class="login-form__fields" [formGroup]="initForm" (ngSubmit)="onLogin()">
                <div class="login-form__inputs">
                  <div class="input-wrapper">
                    <app-input formControlName="username" [placeholder]="'მომხმარებელი'"
                      class="input">
                    </app-input>
                    <mat-hint class="error-msg" *validationErrors="
                        initForm;
                        control: 'username';
                        let err;
                        additionalValue: {
                          submit:
                            initForm.controls['username'] &&
                            initForm.controls['username'].dirty,
                          patternTypes: 'none'
                        }
                      ">
                      {{ 'ველი სავალდებულოა' }}
                    </mat-hint>
                  </div>

                  <div class="input-wrapper">
                    <!-- [iconType]="'eye'" -->
                    <app-input
                     formControlName="password"
                     [placeholder]="'პაროლი'"
                     [type]="'password'"
                     class="input">
                    </app-input>

                    <mat-hint class="error-msg" *validationErrors="
                        initForm;
                        control: 'password';
                        let err;
                        additionalValue: {
                          submit:
                            initForm.controls['password'] &&
                            initForm.controls['password'].dirty,
                          patternTypes: 'none'
                        }
                      ">
                      {{ 'ველი სავალდებულოა' }}
                    </mat-hint>
                  </div>

                      <!-- <app-otp (confirmOtpEmit)="onOtpConfirmed($event)"
                               [clientNumber]="clientNumber">
                      </app-otp> -->
                </div>

                <div class="login-form__links">
                  <button type="button" class="login-form__link" (click)="onForgotPassword()">
                    <img src="assets/images/svgs/_lock.svg" width="16" height="16" alt="" aria-hidden="true">
                    დამავიწყდა პაროლი
                  </button>
                  <button type="button" class="login-form__link" (click)="onSmsAuth()">
                    <img src="assets/images/svgs/_lock.svg" width="16" height="16" alt="" aria-hidden="true">
                    SMS ავტორიზაცია
                  </button>
                </div>

                <p class="login-form__register">
                  არ გაქვთ ანგარიში?
                  <button type="button" class="login-form__register-link" (click)="onRegister()">დარეგისტრირდი</button>
                </p>

                <div class="login-form__actions">
                  <app-button
                    [text]="'შესვლა'"
                    [type]="'submit'"
                    [isLoading]="loadingState()">
                    </app-button>
                </div>
              </form>
            </ng-template>

            <ng-template #smsAuth>
              <form class="login-form__fields" [formGroup]="smsAuthForm" (ngSubmit)="onSmsAuthSubmit()">
                <div class="login-form__inputs">
                  <div class="input-wrapper">
                    <app-input formControlName="personalNumber" [placeholder]="'პირადი ნომერი'"
                      class="input">
                    </app-input>
                    <mat-hint class="error-msg" *validationErrors="
                        smsAuthForm;
                        control: 'personalNumber';
                        let err;
                        additionalValue: {
                          submit:
                            smsAuthForm.controls['personalNumber'] &&
                            smsAuthForm.controls['personalNumber'].dirty,
                          patternTypes: 'none'
                        }
                      ">
                      {{ 'ველი სავალდებულოა' }}
                    </mat-hint>
                  </div>
                </div>

                <div class="login-form__actions">
                  <app-button
                    [text]="'გაგრძელება'"
                    [type]="'submit'"
                    [isLoading]="loadingState()">
                    </app-button>
                </div>

                <button type="button" class="login-form__back-btn" (click)="onBackToLogin()">უკან დაბრუნება</button>
              </form>
            </ng-template>

          </div>
      </div>
    </div>
</ng-container>