<ng-container *transloco="let t">
  <div class="wrapper">
    <div class="auth-fields">
      <div class="register-form">

        <button type="button" class="register-form__close" (click)="onClose()" aria-label="დახურვა">
          <img src="assets/icons/_close.svg" width="24" height="24" alt="Close" aria-hidden="true">
        </button>

        <h4 class="register-form__title caps-uppercase">
          {{ t('Register') }}
        </h4>

        <form class="register-form__fields" [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div class="register-form__inputs">

            <div class="input-wrapper">
              <app-input
                formControlName="personalNumber"
                [placeholder]="'პირადი ნომერი'"
                [isInvalid]="f.personalNumber.invalid && f.personalNumber.dirty"
                class="input">
              </app-input>
              <mat-hint class="error-msg" *validationErrors="
                  registerForm;
                  control: 'personalNumber';
                  let err;
                  additionalValue: {
                    submit: f.personalNumber.dirty,
                    patternTypes: 'format'
                  }
                ">
                {{ err }}
              </mat-hint>
            </div>

            <div class="input-wrapper">
              <app-input
                formControlName="mobileNumber"
                [type]="'tel'"
                [placeholder]="'მობილური ნომერი'"
                [isInvalid]="f.mobileNumber.invalid && f.mobileNumber.dirty"
                class="input">
              </app-input>
              <mat-hint class="error-msg" *validationErrors="
                  registerForm;
                  control: 'mobileNumber';
                  let err;
                  additionalValue: {
                    submit: f.mobileNumber.dirty,
                    patternTypes: 'mobNumber'
                  }
                ">
                {{ err }}
              </mat-hint>
            </div>

            <div class="input-wrapper">
              <app-input
                formControlName="email"
                [type]="'email'"
                [placeholder]="'იმეილი'"
                [isInvalid]="f.email.invalid && f.email.dirty"
                class="input">
              </app-input>
              <mat-hint class="error-msg" *validationErrors="
                  registerForm;
                  control: 'email';
                  let err;
                  additionalValue: {
                    submit: f.email.dirty,
                    patternTypes: 'email'
                  }
                ">
                {{ err }}
              </mat-hint>
            </div>

            <div class="input-wrapper">
              <app-input
                formControlName="password"
                [placeholder]="'შექმენი პაროლი'"
                [type]="'password'"
                [isInvalid]="f.password.invalid && f.password.dirty"
                class="input">
              </app-input>
              <mat-hint class="error-msg" *validationErrors="
                  registerForm;
                  control: 'password';
                  let err;
                  additionalValue: {
                    submit: f.password.dirty,
                    patternTypes: 'none'
                  }
                ">
                {{ err }}
              </mat-hint>
            </div>

            <div class="input-wrapper">
              <app-input
                formControlName="confirmPassword"
                [placeholder]="'გაიმეორეთ პაროლი'"
                [type]="'password'"
                [isInvalid]="f.confirmPassword.invalid && f.confirmPassword.dirty"
                class="input">
              </app-input>
              <mat-hint class="error-msg" *validationErrors="
                  registerForm;
                  control: 'confirmPassword';
                  let err;
                  additionalValue: {
                    submit: f.confirmPassword.dirty,
                    patternTypes: 'none'
                  }
                ">
                {{ err }}
              </mat-hint>
            </div>

          </div>

          <div class="register-form__actions">
            <app-button
              [text]="'დარეგისტრირდი'"
              [type]="'submit'">
            </app-button>
          </div>
        </form>

      </div>
    </div>
  </div>
</ng-container>
