@use "variables" as *;
@use "mixins" as *;

.nav-chapter {
  &--active:not(.nav-chapter--expanded) {
    > .nav-chapter__header .nav-chapter__title {
      color: $primary;
    }
  }
  &__header {
    @include flex-center-between;
    width: 100%;
    background: none;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    transition: background .15s;

    &:hover {
      background: var(--toggle);
    }

    &--active {
      background: $primary;

      .nav-chapter__title {
        @include font(14px, 500, $primary, $font-medium);

      }
    }
  }

  &__title {
    @include font(14px, 500, var(--black-white), $font-medium);
  }

  &__arrow {
    color: var(--label);
    transition: transform .15s;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 4px 0 8px 16px;

    &--collapsed {
      display: none;
    }
  }

  &__item {
    display: block;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    @include font(13px, 500, var(--black-white), $font-medium);
    transition: background .15s;

    &:hover {
      background: var(--toggle);
    }

    &--active {
      color: $primary;
      font-weight: 600;
    }
  }
}