<ng-container *transloco="let t">
  @if (item.sections && item.sections.length) {
    <div class="nav-chapter"
         routerLinkActive="nav-chapter--active"
         [class.nav-chapter--expanded]="expanded()">
      <button type="button" class="nav-chapter__header" (click)="toggle()">
        <span class="nav-chapter__title">{{ t(item.chapter) }}</span>
        <mat-icon class="nav-chapter__arrow" [class.nav-chapter__arrow--open]="expanded()">expand_more</mat-icon>
      </button>

      <ul class="nav-chapter__list" [class.nav-chapter__list--collapsed]="!expanded()">
        @for (section of item.sections; track section.route) {
          <li>
            <a class="nav-chapter__item"
               [routerLink]="section.route"
               routerLinkActive="nav-chapter__item--active"
               (click)="onLessonClick(section)">
              {{ t(section.name) }}
            </a>
          </li>
        }
      </ul>
    </div>
  } @else {
    <a class="nav-chapter__header nav-chapter__header--link"
       [routerLink]="item.route"
       routerLinkActive="nav-chapter__header--active"
       (click)="onLessonClick(item)">
      <span class="nav-chapter__title">{{ t(item.chapter) }}</span>
    </a>
  }
</ng-container>
