<main class="ppc-page">
  <div class="ppc-card">


    <form [formGroup]="form" (ngSubmit)="onPay()" class="ppc-form">

    <lib-mini-progress-bar [routes]="routes()" [currentStep]="currentStepState()"></lib-mini-progress-bar>

    {{currentStepState()}}
    @switch (currentStepState()) {
      @case (1) {
        <app-personal-info></app-personal-info>
      }
      @case (2) {
        <app-contact-info ></app-contact-info>
      }
      @case (3) {
        <app-confirm ></app-confirm>
      }
    }
    </form>

  </div>

        <div class="ppc-page__panel">
          <lib-side-panel [courseId]="courseId.Pregnant" 
          [sidePanelConfig]="panelConfig"
            (submitEmit)="onSidePanelSubmit($event)"></lib-side-panel>
        </div>
</main>
