<main class="ppc-page">
  <div class="ppc-card">


    <div class="ppc-form">

  
    <lib-mini-progress-bar [routes]="routes()" [currentStep]="currentStep()"></lib-mini-progress-bar>

    @switch (currentStep()) {
      @case (1) {
        <app-personal-info></app-personal-info>
      }
      @case (2) {
        <app-contact-info></app-contact-info>
      }
      @case (3) {
        <app-confirm [courseName]="courseName"></app-confirm>
      }

    }
    </div>

  </div>

  @if (currentStep()>2) {

        <div class="ppc-page__panel">
          <lib-side-panel [courseId]="courseId.Pregnant" 
          [sidePanelConfig]="panelConfig"
            (submitEmit)="onSidePanelSubmit($event)"></lib-side-panel>
        </div>

  }

</main>
