<div class="wrapper" *transloco="let t">

<h2 class="ppc-card__title">{{ t('Contact_Information') }}</h2>

<form class="ppc-page__info" [formGroup]="form" (ngSubmit)="onNext()">

  <div class="ppc-page__fields">
    <app-input formControlName="mobileNumber"
     placeholder="Phone_number"
     type="tel"
     [isRequired]="true"
     [isInvalid]="form.controls['mobileNumber'].invalid && form.controls['mobileNumber'].dirty">
     </app-input>

    <mat-hint class="error-msg"
      *validationErrors="form; control: 'mobileNumber'; let err; additionalValue: {
        submit: (form.controls['mobileNumber'] && form.controls['mobileNumber'].dirty), patternTypes: 'mobNumber' }">
      {{ err }}
    </mat-hint>
  </div>

  <div class="ppc-page__fields">
    <app-input formControlName="email" placeholder="Email" type="email"
     [isRequired]="true"
     [isInvalid]="form.controls['email'].invalid && form.controls['email'].dirty"></app-input>
    <mat-hint class="error-msg"
      *validationErrors="form; control: 'email'; let err; additionalValue: {
        submit: (form.controls['email'] && form.controls['email'].dirty), patternTypes: 'email' }">
      {{ err }}
    </mat-hint>
  </div>

  @if(showOtpState()) {
<app-otp (confirmOtpEmit)="onOtpConfirmed($event)" [clientNumber]="form.get('mobileNumber').value">
</app-otp>
  }
 

<app-button
[text]="'Next'"
[type]="'submit'">
</app-button>

</form>


</div>
