@use "../../../assets/scss/variables" as *;


  textarea {
    resize: none;
    width: 100%;
    padding: 11px 12px 11px 16px;
    border-radius: 12px;
    outline: none;
    background: transparent;
    color: var(--black-white);
    font-family: var(--font-helvetica-regular) !important;
    font-size: 14px;
    border: 1px solid $inputBorder;

    &::placeholder {
      font-family: var(--font-helvetica-regular) !important;
      font-size: 14px;
    }
    &:disabled {
      background-color: var(--toggle);
      border: none;
      cursor: text;
    }
  }
