<main class="ppc-page">
  <div class="ppc-card">


    <form [formGroup]="form" (ngSubmit)="onPay()" class="ppc-form">
    <h1 class="ppc-card__title">კურსის შეძენა</h1>

      <!-- <div class="ppc-field">
        <app-input formControlName="name" placeholder="სახელი" [isRequired]="true"
          [isInvalid]="form.controls['name'].invalid && form.controls['name'].dirty">
        </app-input>
        <mat-hint class="error-msg"
          *validationErrors="form; control: 'name'; let err; additionalValue: {
            submit: (form.controls['name'] && form.controls['name'].dirty), patternTypes: 'none' }">
          {{ err }}
        </mat-hint>
      </div>

      <div class="ppc-field">
        <app-input formControlName="surname" placeholder="გვარი" [isRequired]="true"
          [isInvalid]="form.controls['surname'].invalid && form.controls['surname'].dirty">
        </app-input>
        <mat-hint class="error-msg"
          *validationErrors="form; control: 'surname'; let err; additionalValue: {
            submit: (form.controls['surname'] && form.controls['surname'].dirty), patternTypes: 'none' }">
          {{ err }}
        </mat-hint>
      </div> -->

      <div class="ppc-field">
        <app-input formControlName="mobileNumber" placeholder="მობილური" type="tel" [isRequired]="true"
          [isInvalid]="form.controls['mobileNumber'].invalid && form.controls['mobileNumber'].dirty">
        </app-input>
        <mat-hint class="error-msg"
          *validationErrors="form; control: 'mobileNumber'; let err; additionalValue: {
            submit: (form.controls['mobileNumber'] && form.controls['mobileNumber'].dirty), patternTypes: 'mobNumber' }">
          {{ err }}
        </mat-hint>

                <app-otp 
                (confirmOtpEmit)="confirmOtp($event)" 
                [clientNumber]="form.get('mobileNumber').value">
                </app-otp>
      </div>

      <div class="ppc-field">
        <app-input formControlName="email" placeholder="ელ-ფოსტა" type="email" [isRequired]="true"
          [isInvalid]="form.controls['email'].invalid && form.controls['email'].dirty">
        </app-input>
        <mat-hint class="error-msg"
          *validationErrors="form; control: 'email'; let err; additionalValue: {
            submit: (form.controls['email'] && form.controls['email'].dirty), patternTypes: 'email' }">
          {{ err }}
        </mat-hint>
      </div>

    <div class="ppc-card__terms">
        <div><app-checkbox formControlName="termsChecked"></app-checkbox></div>
        <p [ngClass]="{'invalid':form.get('termsChecked')?.invalid&&form.get('termsChecked')?.dirty}">
            {{'გავეცანი და ვეთანხმები დაზღვევის პირობებს'}}<span>
                <a [target]="'_blank'"
                    [href]="'https://google.com/'">{{'ვეთანხმები პირობებს'}}</a>
                 </span></p>
    </div>

      <app-button text="გადახდა" type="submit"></app-button>

    </form>
  </div>
</main>
