@use "variables" as *;
@use "mixins" as *;

.ppc-page {
  background: $mainBg;
  @include flex-center;
  margin-top: 20px;
}

.ppc-card {
  background: $white;
  border-radius: 16px;
  padding: 24px;
  width: 100%;
  max-width: 480px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, .08);
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  &__title {
    @include font(24px, 700, $gray700, $font-bold);
  }

  &__price {
    @include flex-center-between;
    padding-top: 8px;
    border-top: 1px solid $gray12;
  }

  &__price-label {
    @include font(14px, 500, $gray13, $font-medium);
  }

  &__price-value {
    @include font(20px, 700, $gray700, $font-bold);
  }

  &__terms {
    @include flex-init;

    p {
      gap: 10px;
        a {
            text-decoration: none;
            margin-left: 5px;
            color: $primary;
            font-family: $font-medium
          }
    }
  }
}

  .ppc-form {
    display: grid;
    gap: 16px;

    app-input {
      width: 100%;
    }
  }

  .error-msg {
    @include font(11px, 400, $red100, $font-default);
    margin-top: 2px;
    padding-left: 4px;
  }