[theme="light"] {
  --primary: #713FFF;
  --close: url("/assets/icons-light/_close.svg");
  --reload: url("/assets/icons-light/_reload.svg");
  --picker: url("/assets/icons-light/_picker.svg");
  --edit: url("/assets/icons-light/_edit.svg");
  --delete: url("/assets/icons-light/_delete.svg");
  --picker-arrow-left-inactive: url("/assets/icons-light/_picker-arrow-left-inactive.svg");
  --picker-arrow-left: url("/assets/icons-light/_picker-arrow-left.svg");
  --picker-arrow-right-inactive: url("/assets/icons-light/_picker-arrow-right-inactive.svg");
  --picker-arrow-right: url("/assets/icons-light/_picker-arrow-right.svg");
  --picker-arrow-left-w: url("/assets/icons-light/_picker-arrow-left-w.svg");
  --picker-arrow-right-w: url("/assets/icons-light/_picker-arrow-right-w.svg");
  --arrow-right: url("/assets/icons-light/_arrow-right.svg");
  --arrow-left: url("/assets/icons-light/_arrow-left.svg");
  --add: url("/assets/icons-light/_add.svg");
  --tool-tip: url("/assets/icons-light/_tool-tip.svg");
  --back: url("/assets/icons-light/_back.svg");
  --empty-user: url("/assets/icons-light/_empty-user.svg");
  --list: url("/assets/icons-light/_list.svg");
  --card: url("/assets/icons-light/_card.svg");
  --info: url("/assets/icons-light/_info.svg");
  --documents: url("/assets/icons-light/_documents.svg");
  --confirm: url("/assets/icons-light/confirm.svg");
  --nav: url("/assets/icons-light/_nav.svg");
  --bg: #FFFFFF;
  --black-white: #000000;
  --black-white-1: #EFEFEF;
  --border: #E8E8E8;
  --sub-text: #141719;
  --sub-text: #2E2E2E;
  --gray-bg:#EFEFEF;
  --bg200: #EFEFEF;
  --bg300: #FFFFFF;
  --dash: #B9B9BB;
  --label: #333333;
  --primary-01: #926FF8;
  --toggle: #E8E8E8;
  --input-check: #ffffff;
  --gray-01: #4D4D4D;
  --gray-02: #E1E4E5;
  --gray-03: #6F787B;
  --gray-04: #B3B3B3;
  --gray-05: #A2A2A5;

}