<h2 class="ppc-card__title">საკონტაქტო ინფორმაცია</h2>

<form [formGroup]="form" (ngSubmit)="onNext()">

  <div class="ppc-field">
    <app-input formControlName="mobileNumber" 
     placeholder="მობილური" 
     type="tel"></app-input>

    <app-otp
      (confirmOtpEmit)="confirmOtpEmit.emit($event)"
      [clientNumber]="form.get('mobileNumber').value">
    </app-otp>
  </div>

  <div class="ppc-field">
    <app-input formControlName="email" placeholder="ელ-ფოსტა" type="email"></app-input>
  </div>

<app-button text="შემდეგი" ></app-button>

</form>

