.mat-drawer {
  background-color: var(--bg100) !important;
}

.mat-drawer-container {
  background-color: var(--bg100) !important;
}

.mat-drawer-inner-container {
  width: 250px !important;
}

.mat-drawer-side {
  border: none;
}