@use 'variables' as *;

.root {
  background-color: var(--bg)
}

html,
body {
  overflow: hidden;
  height: 100%;
  background-color: $white100;
}

.customTooltip {
  position: fixed;
  background-color: $tooltip-bg;
  color: $tooltip-text;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 14px;
  z-index: 10;
  margin-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 9px;
    bottom: -5px;
    background-position: center;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
  }
}


.d-none {
  display: none;
}

.dialog-border-radius {
  width: 100vw;
  max-width: 100vw !important;
}