*,
:after,
:before {
  box-sizing: border-box;
}


.mainWrapper {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex: 1;
  height: 100%;
}

.pageWrapper {
  padding: 24px;
  min-height: calc(100vh - 70px);
  background-color: $mainBg;

  margin: 0 auto;

  &.maxWidth {
    max-width: $boxedWidth;
  }
}

.h-100 {
  height: 100%;
}

.shadow-none {
  box-shadow: none !important;
}

.rounded {
  border-radius: $border-radius !important;
}

.rounded-circle {
  border-radius: 25% !important;
  object-fit: cover;
}

.rounded-pill {
  border-radius: 25px !important;
}

.overflow-hidden {
  overflow: hidden;
}

.text-decoration-none {
  text-decoration: none;
}

.position-relative {
  position: relative;
}

.table-responsive {
  overflow-x: auto;

  td,
  mat-cell {
    white-space: nowrap;
    padding: 16px;
  }
}

.op-5 {
  opacity: 0.5;
}


.text-hover-primary:hover {
  .hover-text {
    color: $primary;
  }
}

.input-wrapper {
  margin-top: 7px;
}