@if (item.children && item.children.length) {
  <button type="button" class="nav-chapter__header" (click)="toggle()">
    <span class="nav-chapter__title">{{ item.displayName }}</span>
    <mat-icon class="nav-chapter__arrow" [class.nav-chapter__arrow--open]="expanded()">expand_more</mat-icon>
  </button>

  @if (expanded()) {
    <ul class="nav-chapter__list">
      @for (child of item.children; track child.route) {
        <li>
          <a class="nav-chapter__item"
             [routerLink]="child.route"
             routerLinkActive="nav-chapter__item--active"
             (click)="onLessonClick()">
            {{ child.displayName }}
          </a>
        </li>
      }
    </ul>
  }
} @else {
  <a class="nav-chapter__header nav-chapter__header--link"
     [routerLink]="item.route"
     routerLinkActive="nav-chapter__header--active"
     (click)="onLessonClick()">
    <span class="nav-chapter__title">{{ item.displayName }}</span>
  </a>
}
