@use "variables" as *;
@use "mixins" as *;

.nav-chapter {
  &__header {
    @include flex-center-between;
    width: 100%;
    background: none;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    transition: background .15s;

    &:hover {
      background: $gray11;
    }

    &--active {
      background: $pink100;

      .nav-chapter__title {
        color: $pink;
        font-weight: 600;
      }
    }
  }

  &__title {
    @include font(14px, 500, $gray700, $font-medium);
  }

  &__arrow {
    color: $gray13;
    transition: transform .15s;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 4px 0 8px 16px;
  }

  &__item {
    display: block;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    @include font(13px, 500, $gray13, $font-medium);
    transition: background .15s;

    &:hover {
      background: $gray11;
    }

    &--active {
      color: $pink;
      font-weight: 600;
    }
  }
}
